<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login Form</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="onClickSubmit()">Login</ion-button>
    </ion-card-content>
  </ion-card>

  <!--tEMP-->
  <!-- <ion-button>Info</ion-button>
  <ion-button>About</ion-button>
  <ion-button>contact</ion-button> -->




</ion-content>
